<html>
<head>
<title>CUSTOMER_DETAILS</title>
</head>
<body>
<h1 id="a1" > ADD CUSTOMER DETAILS</h1>
<HR/>
<div>

<form method="post" action="address_details/">
{% csrf_token %}
<input type="text" name="my_id"><h3>ENTER CUSTOMER ID</h3>

<input type="text" name="my_state"><h3>ENTER CUSTOMER STATE</h3>

<input type="text" name="my_city"><h3>ENTER CUSTOMER CITY</h3>

<input type="text" name="my_pin"><h3>ENTER CUSTOMER PIN CODE</h3>

<button type="submit">SUBMIT YOUR DETAILS</button>
</body>
</html>